html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png');
    /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 95%;
    max-width: 660px;
    padding: 1.2vw;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px 0;
}

.deck .card {
    flex: 0 0 20%;
    flex-grow: 1;
    margin: 0.75vw;
    transition: transform 0.25s ease;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card:before {
    content: '';
    display: table;
    float: left;
    padding-top: 100%;
}

.deck .card.open {
    transform: rotateY(360deg);
    transition: transform 0.25s ease;
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 4vw;
}

.deck .card.match {
    cursor: default;
    animation: resize 0.5s 1 ease;
    background: #02ccba;
    font-size: 4vw;
}

@keyframes resize {
    0% {
        transform: scale(1.5, 0.5);
    }
    25% {
        transform: scale(0.5, 1.5)
    }
    50% {
        transform: scale(1.25, 0.75);
    }
    75% {
        transform: scale(0.75, 1.25);
    }
    100% {
        transform: scale(1, 1);
    }
}

.deck .card.wrong {
    background-color: orangered;
    animation: shake 0.5s 1 ease;
}

@keyframes shake {
    0% {
        transform: translate(-30px, 0) rotate(-0.05turn);
    }
    25% {
        transform: translate(30px, 0) rotate(0.05turn);
    }
    50% {
        transform: translate(-15px, 0) rotate(-0.025turn);
    }
    75% {
        transform: translate(15px, 0) rotate(0.025turn);
    }
    100% {
        transform: translate(0, 0) rotate(0);
    }
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 5px;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.timer {
    float: left;
    margin-right: 60px;
    width: 20%;
}

/* add the necessary styling for the win message */

.win-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.fa-check-circle-o {
    font-size: 100px;
    font-weight: lighter;
    color: #02b3e4
}

.win-heading {
    font-weight: bold;
}

.win-summary {
    color: #2e3d49;
}

.btn-reload {
    background-color: #02b3e4;
    font-size: 16px;
    color: white;
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 4px;
}

.btn-reload:hover {
    cursor: pointer;
}